/* style.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #bce659;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.timer, .buttons, .laps {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.laps{
    width: 22rem;
    height: auto;
}

#elapsedTime {
    font-size: 36px;
    margin-bottom: 10px;
}

#status {
    font-style: italic;
    color: #888;
}

.actionButton {
    font-size: 16px;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    border-radius: 50%;
    height: 80px;
    width: 80px;
}

.startButton {
    background-color: #4CAF50;
    color: #fff;
}

.startButton:hover {
    background-color: #45a049;
}

.stopButton {
    background-color: #d9534f;
    color: #fff;
}

.stopButton:hover {
    background-color: #c9302c;
}

.resetButton {
    background-color: #337ab7;
    color: #fff;
}

.resetButton:hover {
    background-color: #286090;
}

.lapButton {
    background-color: #5bc0de;
    color: #fff;
}

.lapButton:hover {
    background-color: #46b8da;
}

#lapsTable {
    width: 100%;
    margin-top: 10px;
}

#lapsTable th, #lapsTable td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

#lapsTable th {
    background-color: #f2f2f2;
}
